/*CSS源代码*/
/* Common style */
body,h1,h2,h3,h4,h5,h6,p,form{ margin:0;}
ul{ margin:0; padding:0; list-style:none;}
a img,input,button,textarea{ border:none;}
a,input,button,textarea,select{ outline:none;}
table{ border-collapse:collapse; border-spacing:0; width:100%;}
h1{ text-indent:-9999px;}

/* Link Style */
a{ text-decoration:none;}
a:link{ color:#333;}
a:visited{ color:#333;}
a:hover{ color:#be0000;}
a:active{ color:#be0000;}

/* Font Style */
body{ font:0.36rem '微软雅黑',tahoma,Srial,helvetica,sans-serif; color:#333;}
h1,h2,h3,h4,h5,h6{ font-size:100%;}
.normal{ font-weight:normal;}
body .color6{ color:#666;}
.t_cen{ text-align:center;}
.red,body a.red{ color:#be0000;}

/* Body Style */
.con{ width:10.6rem; padding:0 0.1rem; margin:0 auto;}
.con_2{ width:10.8rem; margin:0 auto;}
.hide{ overflow:hidden;}
.fl{ float:left;}
.fr{ float:right;}

/* content */
.menu{ width:100%; height:1.08rem; position:fixed; z-index:2; border-bottom:1px solid #bbb; background:#eaeaea; top:0;}
.menu_nav{ line-height:1.08rem; color:#d3d3d3;}
.menu_nav span{ display:inline-block; width:32.6%; text-align:center; color:#333;}
.menu_nav span{ background:url(../images/arow_1.png) 82% center no-repeat; background-size:0.18rem 0.1rem;}
.menu_nav .menu_this{ color:#be0000; background:url(../images/arow_2.png) 82% center no-repeat; background-size:0.18rem 0.1rem;}
.menu_down_bg{ width:100%; background:#fff;}
.menu_down{ display:none; background:#fff;}
.menu_sort{ width:100%; position:relative; height:4.8rem; overflow-y:scroll; background:#f5f5f5;}
.menu_sort h2{ width:50%; height:0.8rem; line-height:0.8rem; vertical-align:middle; font-weight:normal; clear:both; background:#fff;} 
.menu_sort li h2:active,.menu_sort li .sort_this{ background:#f5f5f5;}
.menu_sort h2 span,.menu_sort h2 a{ display:block;}
.menu_sort h2 span{ padding-left:0.8rem;}
.menu_sort h2 font{ color:#999;}
.sort_1{ background:url(../images/menu_1.png) 0.2rem center no-repeat; background-size:0.38rem 0.39rem;}
.sort_2{ background:url(../images/menu_2.png) 0.2rem center no-repeat; background-size:0.38rem 0.39rem;}
.sort_3{ background:url(../images/menu_3.png) 0.2rem center no-repeat; background-size:0.38rem 0.39rem;}
.sort_4{ background:url(../images/menu_4.png) 0.2rem center no-repeat; background-size:0.38rem 0.39rem;}
.sort_5{ background:url(../images/menu_5.png) 0.2rem center no-repeat; background-size:0.38rem 0.39rem;}
.sort_6{ background:url(../images/menu_6.png) 0.2rem center no-repeat; background-size:0.38rem 0.39rem;}
.sort_this .sort_1{ background:url(../images/menu_11.png) 0.2rem center no-repeat; background-size:0.38rem 0.39rem;}
.sort_this .sort_2{ background:url(../images/menu_22.png) 0.2rem center no-repeat; background-size:0.38rem 0.39rem;}
.sort_this .sort_3{ background:url(../images/menu_33.png) 0.2rem center no-repeat; background-size:0.38rem 0.39rem;}
.sort_this .sort_4{ background:url(../images/menu_44.png) 0.2rem center no-repeat; background-size:0.38rem 0.39rem;}
.sort_this .sort_5{ background:url(../images/menu_55.png) 0.2rem center no-repeat; background-size:0.38rem 0.39rem;}
.sort_this .sort_6{ background:url(../images/menu_66.png) 0.2rem center no-repeat; background-size:0.38rem 0.39rem;}
.menu_open{ display:none; width:50%; height:4.8rem; overflow-y:scroll; position:absolute; top:0; right:0; background:#f5f5f5;}
.menu_open a{ display:block; height:0.8rem; line-height:0.8rem; text-indent:0.6rem;}
.menu_open a:active{ background:#ddd;}
.menu_open a font{ color:#999; float:right; margin-right:0.3rem;}
.menu_far{ width:100%; background:#fff;}
.menu_far a{ display:block; height:0.8rem; line-height:0.8rem; clear:both; text-indent:0.8rem;}
.menu_far a:active,.menu_far .far_this{ background:#f5f5f5;}
.menu_bg{ display:none; width:100%; height:100%; position:fixed; z-index:1; background:rgba(0,0,0,0.5);}
.list{ width:100%; font-size:0.32rem; margin:1.08rem 0 0;}
.list li{ width:100%; border-bottom:1px solid #dedede; padding:0.3rem 0; background:#fff;}
.list .list_box{ display:block; color:#333;}
.list_img{ float:left; width:4.06rem; height:2.54rem; padding:0.09rem; border:0.03rem solid #b3b3b3; margin-right:0.3rem; overflow:hidden;}
.list_img img{ width:100%; height:100%;}
.list_box span{ display:block; float:left; width:6rem;}
.list_box h3{ font-size:0.42rem; height:0.6rem; line-height:0.6rem; overflow:hidden;}
.list_box p{ height:0.9rem; margin:0.2rem 0 0.45rem; line-height:0.45rem; overflow:hidden;}
.list_box font{ font-size:0.36rem;}
.list_box em{ font-style:normal; margin-top:0.05rem; display:inline-block; padding-left:0.26rem; background:url(../images/list_far.png) left center no-repeat; background-size:0.2rem 0.26rem;}
