<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>蛋糕订购</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

		<!--标准mui.css-->
		<link rel="stylesheet" href="../css/mui.min.css">
		<!--App自定义的css-->
		<link rel="stylesheet" type="text/css" href="../css/app.css" />
		<script src="../js/mui.min.js"></script>
		
		<script>
			mui.init({
				swipeBack: false,
				subpages: [{
					url: 'dangaolist.html',
					id: 'dangaolist',
					styles: {
						top: '40px',
						bottom: '0px',
					}
				}]
			});
		</script>

		
	</head>

	<body>

		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" style=" color:#f44236;"></a>
			<h1 class="mui-title" style=" font-family:'微软雅黑';">蛋糕订购</h1>
		</header>

	</body>

</html>