<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<script src="../js/mui.min.js"></script>
		<link href="../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../css/viewdan.css" />
		<script src="../js/mui.previewimage.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/mui.zoom.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript" charset="UTF-8">
			mui.init();
			mui.plusReady(function() {
				var lididinggou=document.getElementById("lijidinggou");
				$("#zixun").on("tap",function(){
						void plus.device.dial('18633078079', true);
					})
				lididinggou.addEventListener("tap",function(){
					
					mui('.mui-popover-bottom').popover('hide');
					mui.openWindow('dinggou.html','dinggou',{});
					
				})
			})
		</script>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" style="color: #f44d42;"></a>
			<h1 class="mui-title" style=" font-family: '微软雅黑'; font-weight: bold;">甜蜜果盘</h1>
		</header>
		<div class="mui-content">
			<img src="../images/tejia1.jpg" / width="100%">
			<span id="title" style="font-family: '微软雅黑'; font-size: 14px;">
	    		[闪购] 甜蜜果盘
	    	</span>
			<h5 id="jieshao" style="font-family: '微软雅黑'; font-size: 12px; line-height: 20px;">松软的蛋糕与新鲜奶油结合,口感香甜,滑而不腻,口味纯美,,外观更是别出心裁</h5>
			<span id="jiage" style="font-family: '微软雅黑'; font-size: 14px;">
	    		¥ 108-268 <span><s>市场价: ¥ 128-288</s></span>
			</span>
			<span>
	    		<ul class="mui-table-view" id="xiangqing">
	    		        <li class="mui-table-view-cell">
	    		            <a class="mui-navigate-right" href="#peisongsong">
	    		                <h5 style="font-family: '微软雅黑'; font-size: 14px;">规格 <span id="guige">
	    		                		8.0寸(直径约20cm)
	    		                </span></h5>
			</a>
			</li>
			<li class="mui-table-view-cell">

				<h5 style="font-family: '微软雅黑'; font-size: 14px;">配送 <span id="peisong">
	    		                		现在下单,最早可明天11点送达
	    		                </span></h5>

			</li>
			<li class="mui-table-view-cell">

				<h5> <span id="peisongshuoming" style="font-family: '微软雅黑'; font-size: 14px;">
	    		                		<span class="mui-icon mui-icon-location"></span>全国包邮,个别偏远村镇及经典不与配送</span></h5>

			</li>
			<li class="mui-table-view-cell">
				<a class="mui-navigate-right">
					<h5 style="font-family: '微软雅黑'; font-size: 14px;">评价 <span id="pingjia" >
	    		                		综合评价 <span style="color: red;">4.9</span>
	    		                </span>查看全部评论</h5>
				</a>
			</li>
			</ul>
			</span>
			<span id="pingjia">
	    		<ul class="mui-table-view" id="xiangqing">
	    		    <li class="mui-table-view-cell">
	    		         <h5 style="font-family: '微软雅黑'; font-size: 14px;"><span class="mui-icon mui-icon-contact"></span>138*******21 <span class="wuxing">好评</span></h5>
			<span class="pingjianeirong" style="font-family: '微软雅黑'; font-size: 14px;">精致,美味</span>
			<p class="pingjiatu">
				<img src="../images/dan1.png" data-preview-src="" data-preview-group="1" />
				<img src="../images/dan1.png" data-preview-src="" data-preview-group="1" />
				<img src="../images/dan1.png" data-preview-src="" data-preview-group="1" />
			</p>

			</li>
			<li class="mui-table-view-cell">

				<h5 style="font-family: '微软雅黑'; font-size: 14px;"><span class="mui-icon mui-icon-contact"></span>138*******21 <span class="wuxing">
	    		                		好评
	    		                </span></h5>
				<span class="pingjianeirong" style="font-family: '微软雅黑'; font-size: 14px;">
	    		                		精致,美味
	    		                		
	    		                </span>
				<p class="pingjiatu">
					<img src="../images/dan2.png" data-preview-src="" data-preview-group="2" />
					<img src="../images/dan2.png" data-preview-src="" data-preview-group="2" />
					<img src="../images/dan2.png" data-preview-src="" data-preview-group="2" />
				</p>

			</li>
			<li class="mui-table-view-cell">

				<h5 style="font-family: '微软雅黑'; font-size: 14px;"><span class="mui-icon mui-icon-contact"></span>138*******21 <span class="wuxing">
	    		                		好评
	    		                </span></h5>
				<span class="pingjianeirong" style="font-family: '微软雅黑'; font-size: 14px;">
	    		                		给朋友买的,外形很好看,味道也不错
	    		                		
	    		                </span>
				<p class="pingjiatu">
					<img src="../images/dan3.png" data-preview-src="" data-preview-group="3" />
					<img src="../images/dan3.png" data-preview-src="" data-preview-group="3" />
					<img src="../images/dan3.png" data-preview-src="" data-preview-group="3" />
				</p>

			</li>

			</ul>
			</span>
			<span id="xiangqing">
	    		<h5 style="margin-left: 12px; font-family: '微软雅黑'; font-weight: bold;">图文详情</h5>
	    		<div id="peisongsong" class="mui-popover mui-popover-action mui-popover-bottom">
			<ul class="mui-table-view">
			        <li class="mui-table-view-cell">
			            <img src="../images/dan1.png" width="20%" style="float: left;">
			            	<span class="xiaojie" style="width:60%">
			            		甜蜜果盘<a href="#peisongsong"><span class="mui-icon mui-icon-closeempty" style="float: right;"></span></a>
			<p><font color="red">¥ 178</font> <s>¥198.0</s> </p>
			</span>

			</li>
			<li class="mui-table-view-cell" style="padding: 2px auto;">
				<h5 style="float: left;">尺寸</h5>
				<ul class="mui-table-view mui-grid-view" id="chicuncun" style="padding: 2px auto;">
					
						<button type="button" class="mui-btn mui-btn-grey mui-btn-outlined mui-btn-block chicun dianji" style="float: left;">1.0磅(约13x13cm)</button>
						<button type="button" class="mui-btn mui-btn-grey mui-btn-outlined mui-btn-block chicun" style="float: left;">2.0磅(约17x17cm)</button>
						<button type="button" class="mui-btn mui-btn-grey mui-btn-outlined mui-btn-block chicun" style="float: left;">3.0磅(约23x23cm)</button>
						<button type="button" class="mui-btn mui-btn-grey mui-btn-outlined mui-btn-block chicun" style="float: left;">5.0磅(约30x30cm)</button>
					
					
					
				</ul>
			</li>
			<li class="mui-table-view-cell">
				<h5 style="float: left;font-family: '微软雅黑'; font-size: 14px;">购买数量:</h5>

				<div class="mui-numbox" data-numbox-step='1' data-numbox-min='1' data-numbox-max='10' style="float: right;">
					<button class="mui-btn mui-btn-numbox-minus" type="button">-</button>
					<input class="mui-input-numbox" type="number" />
					<button class="mui-btn mui-btn-numbox-plus" type="button">+</button>
				</div>
			</li>
			</ul>
			<ul class="mui-table-view" style="background-color: red;color: #FFFFFF;">
				<li class="mui-table-view-cell">
					<a id="lijidinggou" ><b style="font-family: '微软雅黑'; font-size: 14px;">立即订购</b></a>
				</li>
			</ul>
		</div>
		<img src="../images/dangao2_01.png" width="100%">
		<img src="../images/dangao2_02.png" width="100%">
		<img src="../images/dangao2_03.png" width="100%">
		<img src="../images/dangao2_04.png" width="100%">
		<img src="../images/dangao2_05.png" width="100%">
		<img src="../images/dangao2_06.png" width="100%">
		<img src="../images/dangao2_07.png" width="100%">
		<img src="../images/dangao2_08.png" width="100%">
		</span>
		</div>
		<br />
		<br />
		<br />

		<nav class="mui-bar mui-bar-tab">
			<a class="mui-tab-item mui-active" id="zixun">
				<span class="mui-icon mui-icon-chat"></span>
				<span class="mui-tab-label" style="font-family: '微软雅黑'; font-size: 12px;">咨询</span>
			</a>

			<a class="mui-tab-item" href="#peisongsong" style="color: #FFFFFF;background-color: red;">
				<span class="mui-icon mui-icon-gear"></span>
				<span class="mui-tab-label" style="font-family: '微软雅黑'; font-size: 12px;">立即订购</span>
			</a>
		</nav>

		<script type="text/javascript">
			mui.previewImage();
			$(".chicun").on("tap",function(){
				$(".chicun").removeClass("dianji");
				$(this).addClass("dianji");
			})
		</script>
	</body>

</html>