@charset "utf-8";
*{
	margin: 0;
	padding: 0;
}
html,body{
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -1;
}

#gamebox{
	width: 50%;
	height: 100%;
	position: absolute;
	background: gray;
	left: 25%;
	border-left: solid black 3px;
	border-right: solid black 3px;
	overflow: hidden;
}

.track{
	/*取消点点*/

	list-style: none;
	/*让li平均分配*/
	display: -webkit-box;
	width: 100%;
	position: absolute;
	height: 200%;
	
}

.track li{
	/*先设置父标签为弹性盒子
	 然后设置子标签 -webkit-box-flex 
	 让li平均分配空间*/
	-webkit-box-flex: 1;
	border-right: dashed 4px white;
}

/*选中li的第几个*/
.track li:nth-child(5){
	border-right: none;
	/*把大家的份数加起来 然后平均分配*/
}

#car{
	width: 18%;
	height: 20%;
	background: red;
	position: absolute;	
	left: 40.5%;
	bottom: 8%;
	border: silver 3px solid;
	box-shadow: black 3px 10px 5px ;
}
.otherCar{
	position: absolute;
	width: 19%;
	height: 20%;
	background: yellow;
	box-sizing: blue solid 3px;
	border-radius: 10px;
	box-shadow: black 3px 10px 5px ;
}

#restart{
	position: absolute;width: 10%;height: 10%;left: 45%;top: 45%;
	background: red;
	display: none;
}
