@charset "utf-8";
/* CSS Document */
.lotteryBox{ position:relative;}
.plateBox{ width:500px; height:500px; background:url(../img/plate.png) no-repeat;}
.handBox{ width:500px; height:500px; background:url(../img/hand.png) no-repeat; position:absolute; top:0px; left:0px;}