@charset "utf-8";
*{
	margin: 0;
	padding: 0;
}
html,body{
	width: 100%;
	height: 100%;

}
.musciBtn{
	position: absolute;
	top: 4%;
	width: 10%;
	right: 5%;
	animation: zhuan 3s infinite linear;
	z-index: 100;
}
@-webkit-keyframes zhuan{
	from{transform: rotate(0deg);}
	to{transform: rotate(360deg);}
}
#box{
	width: 100%;
	height: 100%;
	overflow-y:hidden ;
}

.innerbox{
	width: 100%;
	height: 100%;
	position: relative;
}
.index1{
	position: absolute;
}
.indexTxt{
	top: 20%;
	width: 65%;
	left: 17.5%;
}
.indexBuilding{
	bottom: 0px;width: 100%;display: none;
}
.indexFlower01{
	width: 20%;
	top: 23%;
	left: 10%;
	animation: turn1 2s infinite;
}
.indexFlower02{
	width: 20%;
	top: 30%;
	right: 15%;
	animation: turn2 2s infinite;
}
.indexCloud{width: 100%;height: 70%;animation: heartbeat 2s infinite;}
.indexElements{
	width: 70%; left: 15%;animation: heartbeat 2s infinite linear;
}
/*
 * 初始化人
 */
.indexFlight{
	width: 0%; top: 40%;left: 10%;animation: fly 2s infinite;z-index: 1;
}
.indexStars{
	width: 100%; top: 60%;left: 10%;animation: flash 2s infinite;
}
@-webkit-keyframes heartbeat{
	0%{transform: scale(1);}
	50%{transform: scale(0.8);}
	100%{transform: scale(1);}
}
@-webkit-keyframes fly{
	0%{transform: scale(0.6);}
	50%{transform: scale(0.8);}
	100%{transform: scale(0.6);}
}
@-webkit-keyframes flash{
	0%{opacity: 1;}
	50%{opacity: 0;}
	100%{opacity: 1;}
}
@-webkit-keyframes turn1{
	0%{transform: rotate(30deg);}
	50%{transform: rotate(-30deg);}
	100%{transform: rotate(30deg);}
}
@-webkit-keyframes turn2{
	0%{transform: rotate(-30deg);}
	50%{transform: rotate(30deg);}
	100%{transform: rotate(-30deg);}
}
@-webkit-keyframes up{
	0%{transform: translateY(12px);}
	50%{transform: translateY(-12px);}
	100%{transform: translateY(12px);}
}
.arrow{
	top: 87%;
    left: 40%;
    width: 20%;
    position: fixed;
    z-index: 100;
    animation: up 1.5s infinite;
}
.box1{
	background: lightskyblue;
}
.box2{
	background: black;
}
.box3{

}
.box4{
	background: lightskyblue;
}

.index2{
	position: absolute;
	display: none;
}

.wasBg{
	width: 100%;
	height: 100%;
	display: none;
}
.wasFarm{
	width: 50%;
	right: 10%;
	top: 30%;
}
.wasIT{
	width: 50%;
	right: 10%;
	top: 50%;
}
.index3{
	position: absolute;

}
.wasBg2{
	width: 100%;
	height: 100%;

}
.lastBusStation{
	z-index: 0;
	width: 100%;
	bottom: 0px;
	
}

.earlyTitle{
	width: 20%;
	top: 17%;
	z-index: 3;
	display: none;
}
.lastBusTitle{
	width: 26%;
	top: 25%;
	z-index: 3;
	display: none;
}
.bus{
	width: 50%;
    z-index: 3;
    top: 68%;
}

.lastBusAvatar{
	width: 20%;
    z-index: 3;
    left: 70%;
    top: 77%;
}

.index4{
	position: absolute;
	z-index: 5;
	display: none;
}
.myTeamSpace{
	width: 26%;
    top: 13%;
    left: 6%;
    z-index: 6;
}
.myteamWhereTxt{
	width: 0%;
    top: 75%;
    left: 12%;
    z-index: 6;
}
.myTeamAvatar{
    width: 26%;
    left: 73%;
    top: 31%;
    z-index: 6;
}
.myTeamWall{
	width: 26%;
	left: 80%;
	bottom: 0;
	z-index: 6;
}

.index5{
	position: absolute;
	
}
.lightOff{
	width: 25%;
    height: 70%;
    top: 30%;
    left: 6%;
    z-index: 9;
}
.clickGuide{
	top: 40%;
    width: 50%;
    z-index: 9;
    left: 20%;
    animation: guide 2s infinite;
}
.cornerTitle{
	right: 0%;
    top: 14%;
    z-index: 10;
}
.lightOffBg{
	height: 100%;
	width: 100%;
	z-index: 9;
}
.index6{
	position: absolute;
	display: none;
}
.lightOnBg{
	height: 100%;
	width: 100%;
	z-index: 8;
}
.weKnowYou{
	width: 60%;
    z-index: 10;
    top: 30%;
    left: 20%;
}
@-webkit-keyframes guide{
	0%{transform: scale(0.8);}
	50%{transform: scale(1);}
	100%{transform: scale(0.8);}
}
