<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title></title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

		<link rel="stylesheet" href="../css/mui.min.css">
		<style>
			html,
			body {
				background-color: #efeff4;
			}
			
			.mui-bar~.mui-content .mui-fullscreen {
				top: 44px;
				height: auto;
			}
			
			.mui-pull-top-tips {
				position: absolute;
				top: -20px;
				left: 50%;
				margin-left: -25px;
				width: 40px;
				height: 40px;
				border-radius: 100%;
				z-index: 1;
			}
			
			.mui-bar~.mui-pull-top-tips {
				top: 24px;
			}
			
			.mui-pull-top-wrapper {
				width: 42px;
				height: 42px;
				display: block;
				text-align: center;
				background-color: #efeff4;
				border: 1px solid #ddd;
				border-radius: 25px;
				background-clip: padding-box;
				box-shadow: 0 4px 10px #bbb;
				overflow: hidden;
			}
			
			.mui-pull-top-tips.mui-transitioning {
				-webkit-transition-duration: 200ms;
				transition-duration: 200ms;
			}
			
			.mui-pull-top-tips .mui-pull-loading {
				/*-webkit-backface-visibility: hidden;
				-webkit-transition-duration: 400ms;
				transition-duration: 400ms;*/
				margin: 0;
			}
			.xxx{
				margin-right:0; text-align:left; padding: 5%; border: 1px solid #efeff4;
			}
			.mui-pull-top-wrapper .mui-icon,
			.mui-pull-top-wrapper .mui-spinner {
				margin-top: 7px;
			}
			
			.mui-pull-top-wrapper .mui-icon.mui-reverse {
				/*-webkit-transform: rotate(180deg) translateZ(0);*/
			}
			
			.mui-pull-bottom-tips {
				text-align: center;
				background-color: #efeff4;
				font-size: 15px;
				line-height: 40px;
				color: #777;
			}
			
			.mui-pull-top-canvas {
				overflow: hidden;
				background-color: #fafafa;
				border-radius: 40px;
				box-shadow: 0 4px 10px #bbb;
				width: 40px;
				height: 40px;
				margin: 0 auto;
			}
			
			.mui-pull-top-canvas canvas {
				width: 40px;
			}
			
			.mui-slider-indicator.mui-segmented-control {
				background-color: #efeff4;
			}
		</style>
	</head>

	<body>

		<div class="mui-content">
			<div id="slider" class="mui-slider mui-fullscreen">
				<div id="sliderSegmentedControl" class="mui-scroll-wrapper mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
					<div class="mui-scroll">
						<a class="mui-control-item" href="#item1mobile">销量</a>
						<a class="mui-control-item" href="#item2mobile">新品</a>
						<a class="mui-control-item" href="#item3mobile">价格</a>

					</div>
				</div>
				<div class="mui-slider-group">
					<div id="item1mobile" class="mui-slider-item mui-control-content mui-active">
						<div id="scroll1" class="mui-scroll-wrapper">
							<div class="mui-scroll">
								<ul class="mui-table-view mui-grid-view " id="danlist" style="padding: 0;">
									<li class="mui-table-view-cell mui-media mui-col-xs-6" style=" margin-right:0;text-align:left; padding: 5%; border: 1px solid #efeff4;">
										<a class="diandandan"><img class="mui-media-object" src="../images/dan1.png">
											<div class="mui-media-body" style="height:auto; font-family:'微软雅黑'; font-size:18px;">甜蜜果盘</div>
											<p style=" margin-top:10px;">
												<font color="red">¥178.00</font>
												<font color="darkgray" style="float:right;"><s>原价198</s></font>
											</p>
											<p style=" margin-top:10px;"><span class="mui-pull-left"><font color="darkgray">1194评价</font></span></p>
										</a>
									</li>
									<li class="mui-table-view-cell mui-media mui-col-xs-6" style="margin-right:0; text-align:left; padding: 5%; border: 1px solid #efeff4;">
										<a class="diandandan"><img class="mui-media-object" src="../images/dan2.png">
											<div class="mui-media-body" style="height:auto; font-family:'微软雅黑'; font-size:18px;">甜蜜果盘</div>
											<p style=" margin-top:10px;">
												<font color="red">¥178.00</font>
												<font color="darkgray" style="float:right;"><s>原价198</s></font>
											</p>
											<p style=" margin-top:10px;"><span class="mui-pull-left"><font color="darkgray">1194评价</font></span></p>
										</a>
									</li>
									<li class="mui-table-view-cell mui-media mui-col-xs-6" style="margin-right:0; text-align:left; padding: 5%; border: 1px solid #efeff4;">
										<a class="diandandan"><img class="mui-media-object" src="../images/dan3.png">
											<div class="mui-media-body" style="height:auto; font-family:'微软雅黑'; font-size:18px;">甜蜜果盘</div>
											<p style=" margin-top:10px;">
												<font color="red">¥178.00</font>
												<font color="darkgray" style="float:right;"><s>原价198</s></font>
											</p>
											<p style=" margin-top:10px;"><span class="mui-pull-left"><font color="darkgray">1194评价</font></span></p>
										</a>
									</li>
									<li class="mui-table-view-cell mui-media mui-col-xs-6" style="margin-right:0; text-align:left; padding: 5%; border: 1px solid #efeff4;">
										<a class="diandandan"><img class="mui-media-object" src="../images/dan4.png">
											<div class="mui-media-body" style="height:auto; font-family:'微软雅黑'; font-size:18px;">甜蜜果盘</div>
											<p style=" margin-top:10px;">
												<font color="red">¥178.00</font>
												<font color="darkgray" style="float:right;"><s>原价198</s></font>
											</p>
											<p style=" margin-top:10px;"><span class="mui-pull-left"><font color="darkgray">1194评价</font></span></p>
										</a>
									</li>
									<li class="mui-table-view-cell mui-media mui-col-xs-6" style="margin-right:0; text-align:left; padding: 5%; border: 1px solid #efeff4;">
										<a class="diandandan"><img class="mui-media-object" src="../images/dan5.png">
											<div class="mui-media-body" style="height:auto; font-family:'微软雅黑'; font-size:18px;">甜蜜果盘</div>
											<p style=" margin-top:10px;">
												<font color="red">¥178.00</font>
												<font color="darkgray" style="float:right;"><s>原价198</s></font>
											</p>
											<p style=" margin-top:10px;"><span class="mui-pull-left"><font color="darkgray">1194评价</font></span></p>
										</a>
									</li>
									<li class="mui-table-view-cell mui-media mui-col-xs-6" style="margin-right:0; text-align:left; padding: 5%; border: 1px solid #efeff4;">
										<a class="diandandan"><img class="mui-media-object" src="../images/dan1.png">
											<div class="mui-media-body" style="height:auto; font-family:'微软雅黑'; font-size:18px;">甜蜜果盘</div>
											<p style=" margin-top:10px;">
												<font color="red">¥178.00</font>
												<font color="darkgray" style="float:right;"><s>原价198</s></font>
											</p>
											<p style=" margin-top:10px;"><span class="mui-pull-left"><font color="darkgray">1194评价</font></span></p>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div id="item2mobile" class="mui-slider-item mui-control-content">
						<div class="mui-scroll-wrapper">
							<div class="mui-scroll">
								<ul class="mui-table-view mui-grid-view " id="danlist" style="padding: 0;">
									<li class="mui-table-view-cell mui-media mui-col-xs-6" style=" margin-right:0;text-align:left; padding: 5%; border: 1px solid #efeff4;">
										<a class="diandandan"><img class="mui-media-object" src="../images/dan3.png">
											<div class="mui-media-body" style="height:auto; font-family:'微软雅黑'; font-size:18px;">甜蜜果盘</div>
											<p style=" margin-top:10px;">
												<font color="red">¥178.00</font>
												<font color="darkgray" style="float:right;"><s>原价198</s></font>
											</p>
											<p style=" margin-top:10px;"><span class="mui-pull-left"><font color="darkgray">1194评价</font></span></p>
										</a>
									</li>
									<li class="mui-table-view-cell mui-media mui-col-xs-6" style="margin-right:0; text-align:left; padding: 5%; border: 1px solid #efeff4;">
										<a class="diandandan"><img class="mui-media-object" src="../images/dan4.png">
											<div class="mui-media-body" style="height:auto; font-family:'微软雅黑'; font-size:18px;">甜蜜果盘</div>
											<p style=" margin-top:10px;">
												<font color="red">¥178.00</font>
												<font color="darkgray" style="float:right;"><s>原价198</s></font>
											</p>
											<p style=" margin-top:10px;"><span class="mui-pull-left"><font color="darkgray">1194评价</font></span></p>
										</a>
									</li>
									<li class="mui-table-view-cell mui-media mui-col-xs-6" style="margin-right:0; text-align:left; padding: 5%; border: 1px solid #efeff4;">
										<a class="diandandan"><img class="mui-media-object" src="../images/dan1.png">
											<div class="mui-media-body" style="height:auto; font-family:'微软雅黑'; font-size:18px;">甜蜜果盘</div>
											<p style=" margin-top:10px;">
												<font color="red">¥178.00</font>
												<font color="darkgray" style="float:right;"><s>原价198</s></font>
											</p>
											<p style=" margin-top:10px;"><span class="mui-pull-left"><font color="darkgray">1194评价</font></span></p>
										</a>
									</li>
									<li class="mui-table-view-cell mui-media mui-col-xs-6" style="margin-right:0; text-align:left; padding: 5%; border: 1px solid #efeff4;">
										<a class="diandandan"><img class="mui-media-object" src="../images/dan5.png">
											<div class="mui-media-body" style="height:auto; font-family:'微软雅黑'; font-size:18px;">甜蜜果盘</div>
											<p style=" margin-top:10px;">
												<font color="red">¥178.00</font>
												<font color="darkgray" style="float:right;"><s>原价198</s></font>
											</p>
											<p style=" margin-top:10px;"><span class="mui-pull-left"><font color="darkgray">1194评价</font></span></p>
										</a>
									</li>
									<li class="mui-table-view-cell mui-media mui-col-xs-6" style="margin-right:0; text-align:left; padding: 5%; border: 1px solid #efeff4;">
										<a class="diandandan"><img class="mui-media-object" src="../images/dan5.png">
											<div class="mui-media-body" style="height:auto; font-family:'微软雅黑'; font-size:18px;">甜蜜果盘</div>
											<p style=" margin-top:10px;">
												<font color="red">¥178.00</font>
												<font color="darkgray" style="float:right;"><s>原价198</s></font>
											</p>
											<p style=" margin-top:10px;"><span class="mui-pull-left"><font color="darkgray">1194评价</font></span></p>
										</a>
									</li>
									<li class="mui-table-view-cell mui-media mui-col-xs-6" style="margin-right:0; text-align:left; padding: 5%; border: 1px solid #efeff4;">
										<a class="diandandan"><img class="mui-media-object" src="../images/dan1.png">
											<div class="mui-media-body" style="height:auto; font-family:'微软雅黑'; font-size:18px;">甜蜜果盘</div>
											<p style=" margin-top:10px;">
												<font color="red">¥178.00</font>
												<font color="darkgray" style="float:right;"><s>原价198</s></font>
											</p>
											<p style=" margin-top:10px;"><span class="mui-pull-left"><font color="darkgray">1194评价</font></span></p>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div id="item3mobile" class="mui-slider-item mui-control-content">
						<div class="mui-scroll-wrapper">
							<div class="mui-scroll">
								<ul class="mui-table-view mui-grid-view " id="danlist" style="padding: 0;">
									<li class="mui-table-view-cell mui-media mui-col-xs-6" style=" margin-right:0;text-align:left; padding: 5%; border: 1px solid #efeff4;">
										<a class="diandandan"><img class="mui-media-object" src="../images/dan5.png">
											<div class="mui-media-body" style="height:auto; font-family:'微软雅黑'; font-size:18px;">甜蜜果盘</div>
											<p style=" margin-top:10px;">
												<font color="red">¥178.00</font>
												<font color="darkgray" style="float:right;"><s>原价198</s></font>
											</p>
											<p style=" margin-top:10px;"><span class="mui-pull-left"><font color="darkgray">1194评价</font></span></p>
										</a>
									</li>
									<li class="mui-table-view-cell mui-media mui-col-xs-6" style="margin-right:0; text-align:left; padding: 5%; border: 1px solid #efeff4;">
										<a class="diandandan"><img class="mui-media-object" src="../images/dan2.png">
											<div class="mui-media-body" style="height:auto; font-family:'微软雅黑'; font-size:18px;">甜蜜果盘</div>
											<p style=" margin-top:10px;">
												<font color="red">¥178.00</font>
												<font color="darkgray" style="float:right;"><s>原价198</s></font>
											</p>
											<p style=" margin-top:10px;"><span class="mui-pull-left"><font color="darkgray">1194评价</font></span></p>
										</a>
									</li>
									<li class="mui-table-view-cell mui-media mui-col-xs-6" style="margin-right:0; text-align:left; padding: 5%; border: 1px solid #efeff4;">
										<a class="diandandan"><img class="mui-media-object" src="../images/dan1.png">
											<div class="mui-media-body" style="height:auto; font-family:'微软雅黑'; font-size:18px;">甜蜜果盘</div>
											<p style=" margin-top:10px;">
												<font color="red">¥178.00</font>
												<font color="darkgray" style="float:right;"><s>原价198</s></font>
											</p>
											<p style=" margin-top:10px;"><span class="mui-pull-left"><font color="darkgray">1194评价</font></span></p>
										</a>
									</li>
									<li class="mui-table-view-cell mui-media mui-col-xs-6" style="margin-right:0; text-align:left; padding: 5%; border: 1px solid #efeff4;">
										<a class="diandandan"><img class="mui-media-object" src="../images/dan3.png">
											<div class="mui-media-body" style="height:auto; font-family:'微软雅黑'; font-size:18px;">甜蜜果盘</div>
											<p style=" margin-top:10px;">
												<font color="red">¥178.00</font>
												<font color="darkgray" style="float:right;"><s>原价198</s></font>
											</p>
											<p style=" margin-top:10px;"><span class="mui-pull-left"><font color="darkgray">1194评价</font></span></p>
										</a>
									</li>
									<li class="mui-table-view-cell mui-media mui-col-xs-6" style="margin-right:0; text-align:left; padding: 5%; border: 1px solid #efeff4;">
										<a class="diandandan"><img class="mui-media-object" src="../images/dan5.png">
											<div class="mui-media-body" style="height:auto; font-family:'微软雅黑'; font-size:18px;">甜蜜果盘</div>
											<p style=" margin-top:10px;">
												<font color="red">¥178.00</font>
												<font color="darkgray" style="float:right;"><s>原价198</s></font>
											</p>
											<p style=" margin-top:10px;"><span class="mui-pull-left"><font color="darkgray">1194评价</font></span></p>
										</a>
									</li>
									<li class="mui-table-view-cell mui-media mui-col-xs-6" style="margin-right:0; text-align:left; padding: 5%; border: 1px solid #efeff4;">
										<a class="diandandan"><img class="mui-media-object" src="../images/dan1.png">
											<div class="mui-media-body" style="height:auto; font-family:'微软雅黑'; font-size:18px;">甜蜜果盘</div>
											<p style=" margin-top:10px;">
												<font color="red">¥178.00</font>
												<font color="darkgray" style="float:right;"><s>原价198</s></font>
											</p>
											<p style=" margin-top:10px;"><span class="mui-pull-left"><font color="darkgray">1194评价</font></span></p>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
		<script src="../js/mui.min.js"></script>
		<script src="../js/mui.pullToRefresh.js"></script>
		<script src="../js/mui.pullToRefresh.material.js"></script>
		<script>
			mui.init();
			(function($) {
				//阻尼系数
				var deceleration = mui.os.ios ? 0.003 : 0.0009;
				$('.mui-scroll-wrapper').scroll({
//					bounce: false,
					indicators: true, //是否显示滚动条
//					deceleration: deceleration
				});
				
				$.ready(function() {
					//循环初始化所有下拉刷新，上拉加载。
					$.each(document.querySelectorAll('.mui-slider-group .mui-scroll'), function(index, pullRefreshEl) {
						$(pullRefreshEl).pullToRefresh({
							up: {
								callback: function() {
									var self = this;
									setTimeout(function() {
										var ul = self.element.querySelector('.mui-table-view');
										ul.appendChild(createFragment(ul, index, 6));
										self.endPullUpToRefresh();
									}, 1000);
								}
							}
						});
					});
					var createFragment = function(ul, index, count, reverse) {
						var length = ul.querySelectorAll('li').length;
						var fragment = document.createDocumentFragment();
						var li;
						for (var i = 0; i < count; i++) {
							li = document.createElement('li');
							li.className = 'mui-table-view-cell mui-col-xs-6 xxx';
							li.innerHTML = '<a class="diandandan"><img class="mui-media-object" src="../images/dan'+Math.ceil(Math.random()*5)+'.png"><div class="mui-media-body"  style="height:auto; font-family:"微软雅黑"; font-size:18px;">甜蜜果盘</div><p style=" margin-top:10px;"><font color="red" >¥178.00</font><font color="darkgray" style="float:right;"><s>原价198</s></font></p><p style=" margin-top:10px;"><span class="mui-pull-left"><font color="darkgray">1194评价</font></span></p></a>';
							fragment.appendChild(li);
						}
						return fragment;
					};
				});
			})(mui);
		</script>
		<script src="../js/dangao.js" type="text/javascript" charset="utf-8"></script>
	</body>

</html>