#weizhi {
	font-size: 16px;
	line-height: 30px;
	font-weight: bold; font-family:"微软雅黑";
}
a#weizhi{ color:#f44438;}
#weizhi span {
	font-size: 15px;
	line-height: 30px;
	font-weight: bold;
}
.mui-bar .mui-title{ font-family:"微软雅黑"; font-size: 16px; font-weight:bold;}
#renmentitle {
	text-align: center;
	margin: 0 auto;
}

.mui-btn {
	font-size: 16px;
	padding: 8px;
	margin: 3px;
}
.mui-table-view.mui-grid-view .mui-table-view-cell{padding: 10px 0 0 5%; margin-right: 0;}
