.bg {
	width: 100%;
    height: 600px;
    background: url(../img/frame.png) no-repeat;
   
}

.bg2{
	width: 165px;
	height: 191px;
	background: white  no-repeat;
	box-shadow: 0px 0px 5px black inset;
	position: absolute;
}
.blog {
	height:120px;
	width: 380px;
	background: black;
}
span{
	width: 13px;
	height: 13px;
	background: url(../img/arrow.png) no-repeat;
}
.next {
	padding:0px 10px 0px 10px;
	width: 13px;
	height: 13px;

	
}
a{
	font-family:arial;
	font-size: 9px;
	padding: 0px  4px;
}

.menu {
	position: absolute;
	width: 160px;
	background: whitesmoke;
	height: auto;
	border-style: solid;
	border-collapse: collapse;
	border-top:1px solid  #BB1111;
	border-bottom:1px solid #B3A8A8;
	border-left: 1px solid #B3A8A8;
	border-right:1px solid #B3A8A8;
	box-shadow: box-shadow: 0px 0px 1px #656565;;

}

.next{
	height: 23px;
	float: right;
	padding: 6px 0px 4px 10px;
}
.line{
	margin: 1px 15px;
	border-bottom:1px solid #DCD4D4;
	float: left;
}
.logo {
	height: 23px;
	float: left;
	padding: 4px 0px 4px 10px;
}
.next img{
	width: 8px;
	height: 8px;
}
.name{
	height: 23px;
	float: left;
	padding: 4px 0px 4px 10px;
}
tr {
	width: 180px;
}
td {
	font-family: "arial, helvetica, sans-serif";
	color: white;
	width: 380px;
	line-height: 20px;
	text-align: left;
	border-bottom:1px dotted white;
}



.box1{
	position: absolute;

	top: 500px;
	left: 500px;
	border: 1px dashed black;
}
.pic{
	position: absolute;
	margin-left: 2px;
	margin-top: 2px;
}
.box2{
	margin: 50px 50px 50px 50px;
	background: pink;
	width: 400px;
	height: 400px;
	border: 4px inset blue;
}

.box3{

	margin: 50px 50px 50px 50px;
	width: 300px;
	height: 300px;
	border: 2px ridge yellow;
	
}
.box4{

	margin: 50px 50px 50px 50px;
	width: 200px;
	height: 200px;
	border: 2px  dashed black;
}
.box5{
	background: #57F357;
	margin: 50px 50px 50px 50px;
	width: 100px;
	height: 100px;
	border: 3px solid yellow;
}

.note{
	margin-top: 300px;
	width: 400px;
	height: 250px;
	border: 1px solid black;
}
p{
	margin: 20px 20px;

	width: 340px;
	border-bottom:1px dotted black;
}
.note1{

	width: 400px;
	height: 250px;
	border-bottom:1px dotted black;
}
