body{
	width: 100%;
	height: 100%;
	
}
.window{
	margin: 100px 100px;
	height: 400px;
	width: 390px;
	border: 8px solid gray;


}

#header{
	position: absolute;
	top: 50px;
    left: 200px;
	height: 23px;
	width: 200px;
	
}
#cur{
	height: 400px;
	width: 390px;
}
#info{
	position: absolute;
	top: 10px;
}

#photo{
	position: relative;
}
#pheader{
	width: 390px;
	height: 28px;	
	background: rgba(0, 0, 0, 0.61);
	position: absolute;
	top: 0px;
	filter:alpha(opacity:30);
}
#pheader p{
	margin-top: 5px;
	color: white;
	font-size: 14px;
}
#pfooter{
	width: 390px;
	height: 28px;	
	background: rgba(0, 0, 0, 0.61);
	position: absolute;
	bottom: 3px;
	filter:alpha(opacity:30);
}
#btn1{
	float: left;
}
#btn2{
	float: right;
}

#pfooter p{
	margin-top: 5px;
	color: white;
	font-size: 14px;

}
.pre{
	position: absolute;
	top: 210px;
    left: 20px;
	height: 32px;
	width: 32px;
	background: url(../img/arrow_left_alt_32px_1158841_easyicon.net.png) no-repeat;

	
}

.pre2{
	position: absolute;
	top: 210px;
    left: 20px;
	height: 32px;
	width: 32px;
	background: url(../img/arrow_left_alt_32px_1119763_easyicon.net.png) no-repeat;

	
}
.next{
	position: absolute;
	top: 210px;
    right: 20px;
	height: 32px;
	width: 32px;
	background: url(../img/arrow_right_alt_32px_1158844_easyicon.net.png) no-repeat;
	
}
